:root {
  --size: 50px;
}

.board {
  width: calc(var(--size)*var(--columns));
  margin: 50px 0;
}

.title {
  width: calc(var(--size)*var(--columns));
  margin-top: 25px;
  white-space: nowrap;
  overflow: visible;
}

.history {
  height: 60vh;
  max-width: 300px;
  overflow-y: auto;
}

.red-text {
  color: red;
  -webkit-text-stroke: 1px black;
}

.yellow-text {
  color: yellow;
  -webkit-text-stroke: 1px black;
}

@media screen and (min-width: 768px) {
  .history {
    margin-top: 120px;
  }

  .board {
    margin: 50px 25px;
  }

  .title {
    margin: 25px 0;
  }
}